- if current_user.role == 'admin'
  %table.table.table-condensed.table-striped{style: "border-top: 4px solid #D9594F;"}
    %thead
      %tr
        %th.shrink.model-name= 'Requerimientos sin resolver'
    %tbody
      - Requirement.where(resolved: false).order(id: :desc).each do |requirement|
        %tr
          %td
            %span.show= link_to "#{requirement.title} - creado: #{requirement.created_at.strftime('%m/%d/%Y')}", "/admin/requirement/#{requirement.id}/edit"
%table.table.table-condensed.table-striped
  %thead
    %tr
      %th.shrink.model-name= 'Notificaciones'
  %tbody
    - Notification.order(id: :desc).limit(5).each do |notification|
      %tr
        %td
          %span.show= notification.created_at.strftime('%m/%d/%Y')
          %h2.show= link_to "#{notification.title}", "/admin/notification/#{notification.id}"
          %span.show{style:"overflow:scroll;"}= notification.body.html_safe
